[submodule "themes"]
	path = themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = https://github.com/mclear-teaching-projects/phil101.git
    ignore = dirty

